Repository mystic001/bicepandterraform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @infrastructure-team, @automation-team, @devops-team

Add files for bicep deployments
  bicep/main.bicep
  bicep/modules/appServicePlan.bicep
  bicep/parameters/dev.json
  bicep/parameters/prod.json
Owners: @infrastructure-team

Update environment parameter value in dev.json from 'development' to 'dev'
  bicep/parameters/dev.json
Owners: @infrastructure-team

Update production parameters: change aspName value from 'asp-dev' to 'asp-devu' in prod.json
  bicep/parameters/prod.json
Owners: @infrastructure-team

Refactor Bicep deployment workflow: replace manual Bicep CLI installation with Azure CLI command for improved simplicity and reliability. Update version check to use Azure CLI method.
  .github/workflows/bicep-deploy.yml
Owners: @devops-team

Update Bicep parameters: change aspName value in dev.json from 'asp-dev' to 'asp-devu' and in prod.json from 'asp-devu' to 'asp-prod'
  bicep/parameters/dev.json
  bicep/parameters/prod.json
Owners: @infrastructure-team

Remove dev.json Bicep parameters file as part of cleanup process
  .github/workflows/bicep-deploy.yml
  bicep/parameters/dev.parameters.json
Owners: @devops-team, @infrastructure-team

Remove unused production parameters file and simplify Bicep deployment workflow by eliminating the resource group creation step.
  .github/workflows/bicep-deploy.yml
  bicep/parameters/prod.parameters.json
Owners: @devops-team, @infrastructure-team

Comment out appServicePlan module and related output in main.bicep for future reference and potential reactivation.
  bicep/main.bicep
Owners: @infrastructure-team

Comment out App Service Plan parameters in main.bicep for future reference and potential reactivation.
  bicep/main.bicep
Owners: @infrastructure-team

Remove unused App Service Plan parameters from dev.parameters.json for cleanup and simplification of Bicep configuration.
  bicep/parameters/dev.parameters.json
Owners: @infrastructure-team

Update dev.parameters.json to add location parameter with value 'eastus' for improved deployment configuration.
  bicep/parameters/dev.parameters.json
Owners: @infrastructure-team

Remove resource tagging step from Bicep deployment workflow for simplification and improved clarity.
  .github/workflows/bicep-deploy.yml
Owners: @devops-team

Comment out appServicePlan output in main.bicep for future reference and potential reactivation.
  bicep/main.bicep
Owners: @infrastructure-team

Add container settings to storage account module in Bicep configuration
  bicep/main.bicep
  bicep/modules/storage/storageAccount.bicep
  bicep/parameters/dev.parameters.json
  bicep/parameters/prod.parameters.json
Owners: @infrastructure-team

Remove 'backup' configuration from dev and prod Bicep parameter files to streamline deployment settings.
  bicep/parameters/dev.parameters.json
  bicep/parameters/prod.parameters.json
Owners: @infrastructure-team

Refactor Terraform deployment workflow to enhance Azure integration and streamline processes
  .github/workflows/terraform-deploy.yml
  terraform/.gitignore
  terraform/backend.tf
  terraform/main.tf
  terraform/variables.tf
Owners: @devops-team, @infrastructure-team

Update Terraform deployment workflow and remove .gitignore file
  .github/workflows/terraform-deploy.yml
  terraform/.gitignore
Owners: @devops-team, @infrastructure-team

Add default value for environment variable in Terraform configuration
  terraform/variables.tf
Owners: @infrastructure-team

Add Azure authentication variables to Terraform configuration
  terraform/variables.tf
Owners: @infrastructure-team

Enhance Terraform deployment workflow by adding unlock step and improving format check
  .github/workflows/terraform-deploy.yml
Owners: @devops-team

Fix typo in ManagedBy tag in Terraform resource group configuration
  terraform/main.tf
Owners: @infrastructure-team

Refactor Terraform deployment workflow to streamline backend configuration
  .github/workflows/terraform-deploy.yml
Owners: @devops-team

Fix typo in ManagedBy tag in Terraform resource group configuration
  terraform/main.tf
Owners: @infrastructure-team

Enhance Terraform configuration by adding tags to resources and updating variable descriptions
  terraform/main.tf
  terraform/variables.tf
Owners: @infrastructure-team

Update Terraform deployment workflow and variables for improved Azure integration
  .github/workflows/terraform-deploy.yml
  terraform/main.tf
  terraform/variables.tf
Owners: @devops-team, @infrastructure-team

Enhance Azure authentication in Terraform configuration and deployment workflow
  .github/workflows/terraform-deploy.yml
  terraform/main.tf
Owners: @devops-team, @infrastructure-team

Refactor Terraform workflows to enhance environment handling and validation
  .github/workflows/create-service-principal.yml
  .github/workflows/terraform-deploy.yml
  .github/workflows/terraform-validate.yml
  scripts/Create-ServicePrincipal.ps1
  terraform/.tflint.hcl
Owners: @devops-team, @infrastructure-team

.github/CODEOWNERS:

# Bicep files
/bicep/ @infrastructure-team

# Terraform files
/terraform/ @infrastructure-team

# PowerShell scripts
/scripts/powershell/ @automation-team

# Workflow files
/.github/workflows/ @devops-team
